pip==21.1.3
fastapi 
nest-asyncio 
pyngrok 
uvicorn
python-multipart
tensorflow
keras
tifffile 
imagecodecs
imagecodecs-lite
numpy
pandas
scikit-image
scikit-learn
#tensorrt 
#nvidia-tensorrt
#cuda-toolkit
#cudnn
