fastapi 
nest-asyncio 
pyngrok 
uvicorn
python-multipart
tensorflow
keras
tifffile 
imagecodecs
imagecodecs-lite
numpy
pandas
os
io
scikit-image
scikit-learn
json
math 
tempfile
glob
